 *{margin: 0;padding: 0;box-sizing: border-box;font-family: poppins;};
 
img {
    width: 100%;
}

li {
    list-style: none;
}

a{ 
    text-decoration: none;
}

body{
    font-size: 16px;
}

video {
    width: 100%;
}